.banner {
  background-image: url(../images/1.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 660px;
}
.banner_row{
  position: relative;
}
.ellipse_1 {
  border-radius: 50%;
  background-color: rgb(202, 183, 13);
  opacity: 0.8;
  position: absolute;
  top: 520px;
  right: 315px;
  width: 143px;
  height: 143px;
  z-index: 282;
}
.ellipse_2 {
  border-radius: 50%;
  background-color: rgb(202, 13, 111);
  opacity: 0.8;
  position: absolute;
  top: 510px;
  right: 305px;
  width: 143px;
  height: 143px;
  z-index: 282;
}
.FREEZE_DELIGHT p {
  font-size: 24pt;
  font-family: "Quiq";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1;
  text-align: center;
  word-wrap: normal;
  width: 100px;
  position: absolute;
  top: 555px;
  right: 325px;
  z-index: 283;
}
