/* Rametto font */
@font-face {
  font-family: "Rametto";
  src: url(../fonts/RammettoOne-Regular.woff) format("woff");
}
/* Lato Font */
@font-face {
  font-family: "Lato Regular";
  src: url(../fonts/Lato-Regular.woff) format("woff");
  font-family: "Lato Bold";
  src: url(../fonts/Lato-Bold.woff) format("woff");
}
/* Quicksand font */
@font-face {
  font-family: "Quiq";
  src: url(../fonts/Quicksand-Bold.woff) format("woff");
}
/* Magra font */
@font-face {
  font-family: "Magra Bold";
  src: url(../fonts/Magra-Bold.woff) format("woff");
}
/* Roboto Font */
@font-face {
  font-family: "Roboto Regular";
  src: url(../fonts/Roboto-Regular.woff) format("woff");
}
